<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CollabCode</title>
	<script>
		const ROOM_ID = "<%= roomId %>"
	</script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/room.css">

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/AgoraRTC_N-4.8.1.js" type="text/javascript" charset="utf-8"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>

	<!-- Firepad -->
	<link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />
	<script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>

</head>

<body>
	<div id="header">
		<div id="run-code-btn">RUN</div>
	</div>
	<div id="main-div">
		<div id="code-area">
			<div id="language">
				<select name="language" id="language-dropdown">
					<option value="python">Python</option>
					<option value="javascript">Javascript</option>
					<option value="c">C</option>
					<option value="c++">C++</option>
					<option value="go">Go</option>
					<option value="java">Java</option>
					<option value="csharp">C#</option>
				</select>
			</div>
			<div id="firepad"></div>
		</div>
		<div id="input-output">
			<textarea name="input" id="input" placeholder="Input goes here."></textarea>
			<div id="output">
				Output will appear here.
			</div>
		</div>
		<div id="video-grid">
		</div>
		<div id="controls">
			<i id="mute_audio" class="material-icons control-btn">mic</i>
			<i id="mute_video" class="material-icons control-btn">videocam</i>
		</div>
	</div>
</body>
<script src="js/room.js"></script>

</html>