<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CollabCode</title>
	<script>
		const ROOM_ID = "<%= roomId %>"
	</script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>

	<link rel="stylesheet" href="css/codemirror/codemirror.css">
	<link rel="stylesheet" href="css/codemirror/dracula.css">
	<link rel="stylesheet" href="css/codemirror/show-hint.css">

	<script src="js/codemirror/codemirror.js"></script>
	<script src="js/codemirror/show-hint.js"></script>
	<script src="js/codemirror/javascript-hint.js"></script>
	<script src="js/codemirror/javascript.js"></script>
	<script src="js/codemirror/python.js"></script>
	<script src="js/codemirror/go.js"></script>
	<script src="js/codemirror/clike.js"></script>


	<script src="js/AgoraRTC_N-4.8.1.js" type="text/javascript" charset="utf-8"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>

	<!-- Firepad -->
	<link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />
	<script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>

	<!-- Sweet alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- P5 js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>

	<link rel="stylesheet" href="css/room.css">
</head>

<body>
	<div id="header">
		<a href="/">
			<div id="header-title">CollabCode</div>
		</a>
		<div id="run-code-btn">RUN</div>
		<div id="share-btn">
			<i class="material-icons">share</i>
		</div>
	</div>
	<div id="main-div">
		<main>
			<div id="code-area">
				<div id="language">
					<select name="language" id="language-dropdown">
						<option value="python">Python</option>
						<option value="javascript">Javascript</option>
						<option value="c">C</option>
						<option value="c++">C++</option>
						<option value="go">Go</option>
						<option value="java">Java</option>
						<option value="csharp">C#</option>
					</select>
				</div>
				<textarea id="firepad"></textarea>
			</div>
			<div id="canvasContainer">
				<div id="drawing-cursor"></div>
				<div id="settings-div">
					<div class="setting-icon">
						<div class="color-unit" id="color1"></div>
					</div>
					<div id="color-picker" class="setting-icon"></div>
					<input type="color" id="stroke-color" name="stroke-color" value="#3be8b0">
					<div class="slidecontainer">
						<input type="range" min="1" max="50" value="5" class="slider" id="stroke-Range">
					</div>
					<div id="brush-size" class="setting-icon"></div>
					<div id="eraser" class="setting-icon"></div>
					<div id="clear-canvas" class="setting-icon"></div>
					<div id="undoBtn" class="setting-icon"></div>
					<div id="redoBtn" class="setting-icon"></div>
				</div>
			</div>
		</main>
		<div id="input-output">
			<textarea name="input" id="input" placeholder="Input goes here."></textarea>
			<div id="output">
				<div class="spin"></div>
				<div id="output-text">
					Output will appear here.
				</div>
			</div>
		</div>

		<div id="video-grid"></div>
		<div id="controls">
			<button type="button" class="control-btn" id="audio-btn" disabled>
				<i class="material-icons" id="audio_icon">mic</i>
			</button>
			<button type="button" class="control-btn" id="video-btn" disabled>
				<i class="material-icons" id="video_icon">videocam</i>
			</button>
		</div>
	</div>
</body>
<script src="js/room.js"></script>
<script src="js/liveBoard.js"></script>

</html>