<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CollabCode</title>
	<script>
		const ROOM_ID = "<%= roomId %>"
	</script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/room.css">

	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="js/ace.js" type="text/javascript" charset="utf-8"></script>
	<script defer src="js/AgoraRTC_N-4.8.1.js" type="text/javascript" charset="utf-8"></script>

	<script defer src="js/room.js"></script>
</head>

<body>
	<div id="main-div">
		<div id="editor"></div>
		<div id="output">
		</div>
		<div id="video-grid">
		</div>
		<div id="controls">
			<i id="mute_audio" class="material-icons control-btn">mic</i>
			<i id="mute_video" class="material-icons control-btn">videocam</i>
		</div>
	</div>
</body>

</html>