#canvasContainer {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	/* height: 70%; */

	background-color: #282a36;

	cursor: none;

	overflow: hidden;
}

#drawing-cursor {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: #3be8b0;

	z-index: 1;
	cursor: none;
}

#settings-div {
	position: absolute;
	display: flex;
	column-gap: 20px;
	justify-content: center;
	align-items: center;

	bottom: 10px;
	border: none;
	border-radius: 5px;

	padding: 5px 10px;

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.26);

	background-color: #e7eff61e;
	backdrop-filter: blur(5px);

	padding: 8px 20px;

	z-index: 10;

	cursor: context-menu;
}

.setting-icon {
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;

	display: grid;
	place-items: center;

	cursor: pointer;

	width: 32px;
	height: 32px;

	border: none;
	border-radius: 5px;

	transition: background-color 0.5s ease-in-out;
}

.setting-icon:hover {
	background-color: #888;
}

.color-unit {
	width: 22px;
	height: 22px;
	border-radius: 50%;

	cursor: pointer;
}

#color1 {
	background-color: #3be8b0;
}

#color-picker {
	background-image: url("../icons/color-palette.png");
}

#brush-size {
	background-image: url("../icons/brush.png");
	background-size: 65%;
}

#eraser {
	background-image: url("../icons/eraser.png");
}

#clear-canvas {
	background-image: url("../icons/clear.png");
}

#undoBtn {
	background-image: url("../icons/undo.png");
}

#redoBtn {
	background-image: url("../icons/redo.png");
}

.slidecontainer {
	position: absolute;
	bottom: 50px;
	left: 65px;

	border: none;
	border-radius: 5px;

	display: none;
	padding: 5px 10px;

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.26);

	background-color: #e7eff61e;
	backdrop-filter: blur(5px);

	transition: width 1s ease-in-out;
}

#stroke-color {
	position: absolute;
	left: 60px;
	z-index: -1;
	visibility: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}