body{
	height: 90vh;
	margin: 0;
}

#header{
	height: 8vh;
	background-color: aquamarine;
	position: relative;
}

#main-div{
	display: grid;
	height: 100%;
	column-gap: 10px;
	grid-template-columns: 1.5fr 1fr;
	grid-template-areas: "code-area input-output"
						"code-area video-grid"
						"controls controls";
}

#code-area{
	grid-area: code-area;

	display: grid;
	grid-template-areas: "language"
						"firepad";
	grid-template-rows: 1fr 15fr;
	height: 82vh;
}

#language{
	grid-area: language;
	position: relative;
}

#language-dropdown{
	position: absolute;
	height: 100%;
	left: 45%;
}

#firepad{
	grid-area: firepad;
	height: 100%;
	width: 100%;
}

#run-code-btn{
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	width: fit-content;
	position: absolute;
	top: 10%;
	left: 50%;

	background-color: green;
	color: white;

	cursor: pointer;
}

#run-code-btn:hover{
	background-color: rgb(0, 144, 0);
}

#input-output{
	grid-area: input-output;

	display: grid;
	grid-template-rows: 4fr 6fr;
	row-gap: 10px;

	height: 58vh;
}

#input{
	resize: none;
}

#output{
	background-color: black;
	color: white;
	padding: 10px;
}

#video-grid {
	grid-area: video-grid;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	column-gap: 10px;
}

video {
	object-fit: cover;
}

.video-player{
	height: 20vh;
	width: 20vh;
}

#controls{
	grid-area: controls;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
	background-color: black;
}

.material-icons{
	font-size: 32px;
	cursor: pointer;
}

.control-btn{
	background-color: ghostwhite;
	width: fit-content;
	padding: 8px;
	margin: 10px;
	border-radius: 3rem;
}

/* #mute_audio{
	background-color: ghostwhite;
	width: fit-content;
}

#mute_video{
	background-color: ghostwhite;
	width: fit-content;
} */