@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	background-color: #151a28;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#header {
	height: 8%;
	background-color: #151a28;
	position: relative;
}

#header-title {
	color: white;
	position: absolute;
	font-size: 22px;
	top: 25%;
	left: 1%;
}

#main-div {
	display: flex;
	height: 84%;
	gap: 15px;
	padding: 0 15px;
}

.left-div {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 15px;
	height: 100%;
}

.right-div {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 15px;
	height: 100%;
}

#code-area {
	width: 100%;
	height: 70%;
	position: relative;
}

#language {
	position: absolute;
	top: 1%;
	right: 2%;
	z-index: 2;
}

#language-dropdown {
	padding: 5px;
	height: 100%;
	left: 45%;
	background: #151a28;
	color: #3be8b0;
	border-radius: 5px;
	font-size: 15px;
}

#firepad {
	height: 100%;
	width: 100%;
}

.CodeMirror {
	font-size: 16px;
}


#run-code-btn {
	width: fit-content;
	position: absolute;
	top: 15%;
	left: 50%;

	align-items: center;
	appearance: none;
	color: #36395A;
	background-color: #3be8b0;
	box-shadow: #44475a 0 2px 4px, #44475a 0 7px 13px -3px, #1FB264 0 -3px 0 inset;
	border-radius: 4px;
	border-width: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	height: 70%;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s, transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;

}

#run-code-btn:focus {
	box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#run-code-btn:hover {
	box-shadow: #44475a 0 2px 4px, #44475a 0 7px 13px -3px, #1FB264 0 -3px 0 inset;
	transform: translateY(-2px);
}

#run-code-btn:active {
	box-shadow: #D6D6E7 0 3px 7px inset;
	transform: translateY(2px);
}

#share-btn {
	position: absolute;
	top: 25%;
	right: 2%;
	color: #3be8b0;
}

.swal-modal {
	background-color: #282a36;
}

.swal-title {
	color: white;
}

.swal-text {
	color: white;
	font-size: 18px;
}

.swal-button {
	color: #36395A;
	background-color: #3be8b0;
}

.swal-content input {
	width: 100%;
	height: 28px;
	font-size: 16px;
	background-color: #3b3e50;
	color: white;
	border: none;
}

#input-output {
	display: flex;
	height: 30%;
	gap: 15px;
}

#input {
	width: 50%;
	height: 100%;
	resize: none;
	color: white;
	background-color: #282a36;
	padding: 10px;
	border: none;
}

#input:focus {
	outline: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#input::placeholder {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#output {
	width: 50%;
	height: 100%;
	position: relative;
	background-color: #282a36;
	color: white;
	padding: 10px;
}

#output-text {
	max-height: 210px;
	overflow: auto;
}

.spin {
	position: absolute;
	top: 36%;
	left: 44%;
	display: none;
	width: 50px;
	height: 50px;
	border: 3px solid rgba(255, 255, 255, .3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

#video-grid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 15px;
}

video {
	object-fit: cover;
}

.video-player {
	height: 20vh;
	width: 20vh;
}

#controls {
	height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #151a28;
}

.material-icons {
	font-size: 32px;
	cursor: pointer;
}

.control-btn {
	background-color: #3be8b0;
	width: fit-content;
	padding: 8px;
	margin: 10px;
	border-radius: 3rem;
	border: none;
}

.powered-by-firepad {
	display: none;
}

/* width */
::-webkit-scrollbar {
	width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #282a36;
	border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}